h1,h2{
    color:greenyellow;
    text-align: center;
}
body{
    background-color:lightskyblue;
}
p{
    font-weight:bold;
    font-size: large;
    text-align:center;
}
p.l{
    float:left;
}
p.r{
    float:right;
}